/* Video Play pause icon*/
.hero-video-banner .pause-icon.play-icon::before {
    left: 22px;
}
.hero-video-banner .pause-icon {
    box-shadow: none;
    border: none;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #fff;
    position: relative;
    transition: 0.3s all ease-in-out;
    z-index: 2;
}   
.hero-video-banner .pause-icon::before {
    left: 21px
}
.hero-video-banner .pause-icon::after {
    right: 20px;
    left: inherit;
}
@media(max-width: 1440px) {
    html {
        font-size: 52.5%
    }
}

@media(max-width: 1024px) {
    html {
        font-size: 50.5%
    }
    .hero-banner .owl-nav {
        right: 0;
    }
}

@media(max-width:768px) {
    body{
        overflow-x: hidden;
    }
    html {
        font-size: 45.5%
    }
    .section-padding {
        padding: 5rem 0;
    }
    .hero-banner .hero-banner-content {
        padding-right: 5rem;
    }
    #header .header-top ul {
        text-align: center;
    }
    .box-with-bg-img figure {
        min-height: 45.5rem;
    }
    .post .post-image {
        min-height: 40rem;
    }
    .cta .cta-title {
        max-width: 100%;
        text-align: center;
    }
    .social.float-left {
        float: none !important;
        text-align: center;
    }
    .header-top .col-xs-12.col-sm-12.col-md-9 {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    .step .step-icon {
        min-width: 15rem;
    }
    .pl-12 {
        padding-left: 5rem;
    }
    .hero-video-banner .text-carousel.owl-carousel {
        top: 50%;
    }
}

@media(max-width: 640px) {
    .radial-green-section .btn {
        margin-bottom: 2rem;
    }
    .inner-page .col-3,.inner-page .col-9.pl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 2rem;
    }
    .inner-page .col-9{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }
    .with-left-sidebar .content-area {
        padding-left: 2rem;
    }
    .box-with-text {
        margin-top: 2rem;
    }
    .footer-top .row > [class*="col-"] {
        padding: 5rem 3rem;
    }
    .footer-top .row > div:nth-child(3),
    .footer-top .row > div:nth-child(4) {
        border-top: 1px solid #4f5068;
    }
    .footer-nav ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .course-program-wrp .course-program-search-box{
        position: inherit
    }
    .course-program-wrp .course-program-img-wrp {
        padding-right: 0;
        display: none;
    }
    .course-program-wrp .course-program-img {
        margin-bottom: 0;
    }
    .course-program-wrp .course-program-search-box {
        position: initial;
        top: initial;
        transform: inherit;
        left: 0;
        width: 100%;
    }
    .course-program-wrp {
        flex-direction: column;
    }
    .box-with-bg-img {
        margin-bottom: 3rem;
    }
    .testimonial-item .testimonial-image-wrp {
        display: none;
    }
    .with-left-sidebar>.section-padding>.container>.row>.col-3:before {
        height: calc(100% - -8rem);
        background-color: transparent;
    }
    .with-left-sidebar .sidebar {
        margin-bottom: 10rem;
    }
    .inner-page.with-left-sidebar .container .row {
        flex-direction: column-reverse;
    }
    .inner-page .ml-6 {
        margin-left: 0 !important;
    }
    .course-nav {
        margin-bottom: 5rem;
    }
    .page-title {
        padding: 25rem 0 5rem 0;
    }
    .video-gallery .video-gallery-item {
        margin-bottom: 3rem;
    }
}
@media(max-width: 414px) {
    div.our_p {
        margin-bottom: 0;
    }
}